*{
padding: 0;
margin: 0;
}
html{
background-image: url(../images/background.jpg);
background-size: cover;
background-color: rgb(255, 255, 255);
background-repeat: no-repeat;
}
body{
background-position: top,bottom;
background-repeat: repeat-x, repeat-x;
}
.headersection{
    background-color:rgba(100, 199, 245, 0.368);
    border: none;
    display: grid;
    grid-template-columns: 9, 1fr;
    grid-template-rows: 1, 100px;
    grid-template-areas:"Logo Logo Logo nav nav nav null null login login login ";
    height: 12vh;
    }
    .Logo{
    grid-area: Logo;
    margin-top: 1vh;
    width: 10vh;
    height: 10vh;
    margin-left: 3vh;
    }
    .container{
    grid-area: nav;
    place-items: center;
    align-content: center;
    }
    .login-image{
    grid-area: login;
    grid-column-start: 11;
    grid-column-end: 12;
    margin-top: 1vh;
    margin-right: -10vh;
    width: 5vh;
    height: 5vh;
    }
    #navigation{
        display: flex;
        justify-content: space-between;
        margin-left: 3vh;
        list-style: none;
        align-items: center;
    }
    .navtext{
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        padding-left: 15px;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-right: 15px;
        color: #b82f83;
        }
    .navtext:hover{
    background:#2aa89a;
    color:#133478;
    border-radius: 10vh;
    border-top: 20vh;
    }
    .Casussen-main{
    height: 73vh;
    }

    .footer-container{
    background-color: #72a6fc70;
    height: 15vh;
    display: grid;
    grid-template-columns: 10, 1fr;
    grid-template-rows: 1, 100px;
    grid-template-areas:"texts texts texts img img img create create create";
    }
    .Footer-text{
    display: grid;
    align-items: center;
    margin-left: 2vh;
    grid-area: texts;
    }
    .Contact{
    display: grid;
    align-items: center;
    grid-area: img;
    grid-column-start: 2;
    grid-column-end: 6;
    }
    .Contact h1{
        text-decoration: none;
        font-size: 40px;
        margin-left: 18vh;
    }
    
    .Contact-img{
    display: flex;
    margin-left: 10vh;
    }
    .CTI{
        height: 5vh;
        width: 5vh;  
        margin-left: 4vh;
    }
    
    .Creates{
    display: grid;
    align-items: center;
    grid-area:create;
    grid-column-start: 11;
    grid-column-end: 12;
    margin-left: 20vh;
    }
    .creates-img{
        height: 10vh;
        width: 10vh;
        margin-left: 15vh;
     }
    .mborijnland{
      height: 10vh;
      width: 10vh;
    }
      .partners{
      height: 73vh;
      
    }
    main section{
      display: flex;
    }
   
    .UI{
      width: 40vw;
      height: 50vh;
      margin-top: 7.5vh;
      margin-left: 7.5vw;
      margin-right: 7.5vh;
    }
