*{
padding: 0;
margin: 0;
}
html{
background-image: url(../images/background.jpg);
background-size: cover;
background-color: rgb(255, 255, 255);
background-repeat: no-repeat;
}
body{
background-position: top,bottom;
background-repeat: repeat-x, repeat-x;
}
.headersection{
    background-color:rgba(249, 249, 249, 0.221);
    border: none;
    display: grid;
    grid-template-columns: 9, 1fr;
    grid-template-rows: 1, 100px;
    grid-template-areas:"Logo Logo Logo nav nav nav null null login login login ";
    height: 12vh;
    }
    .Logo{
    grid-area: Logo;
    margin-top: 1vh;
    width: 10vh;
    height: 10vh;
    margin-left: 3vh;
    }
    .container{
    grid-area: nav;
    place-items: center;
    align-content: center;
    }
    .login-image{
    grid-area: login;
    grid-column-start: 11;
    grid-column-end: 12;
    margin-top: 1vh;
    margin-right: -10vh;
    width: 5vh;
    height: 5vh;
    }
    #navigation{
        display: flex;
        justify-content: space-between;
        margin-left: 3vh;
        list-style: none;
        align-items: center;
    }
    .navtext{
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        padding-left: 15px;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-right: 15px;
        color: #b82f83;
        }
    .navtext:hover{
    background:#2aa89a;
    color:#133478;
    border-radius: 10vh;
    border-top: 20vh;
    }
    .Casussen-main{
    height: 74vh;
    }

    footer{
    background-color: #2aa89a;
    height: 15vh;
    display: grid;
    grid-template-columns: 9, 1fr;
    grid-template-rows: 1, 100px;
    grid-template-areas:"texts texts texts img img img create create create";
    }
    .Footer-text{
    grid-area: texts;
    }
    .Contact{
    grid-area: img;
    grid-column-start: 4;
    grid-column-end: 6;
    }
    .Creates{
    grid-area:create;
    grid-column-start: 9;
    grid-column-end: 12;
    }
