*{
padding: 0;
margin: 0;
}
html{
background-image: url(../images/background.jpg);
background-size: cover;
background-color: rgb(255, 255, 255);
background-repeat: no-repeat;
}
.headersection{
    background-color:rgba(38, 140, 236, 0.221);
    border: 0;
    display: grid;
    grid-template-columns: 9, 1fr;
    grid-template-rows: 1, 100px;
    grid-template-areas:"Logo Logo Logo nav nav nav null null login login login ";
    height: 12vh;
    }
    .Logo{
    grid-area: Logo;
    margin-top: 1vh;
    width: 10vh;
    height: 10vh;
    margin-left: 3vh;
    }
    .container{
    grid-area: nav;
    place-items: center;
    align-content: center;
    }
    .login-image{
    grid-area: login;
    grid-column-start: 11;
    grid-column-end: 12;
    margin-top: 1vh;
    margin-right: -10vh;
    width: 5vh;
    height: 5vh;
    }
    #navigation{
        display: flex;
        justify-content: space-between;
        margin-left: 3vh;
        list-style: none;
        align-items: center;
    }
    .navtext{
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        padding-left: 15px;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-right: 15px;
        color: #f91c1cc0;
        }
    .navtext:hover{
    background: rgba(234, 255, 99, 0.43);
    border-radius: 10vh;
    border-top: 20vh;
    }
