.headersection{
    background-color:cadetblue;
    display: grid;
    grid-template-columns: 9, 1fr;
    grid-template-rows: 1, 100px;
    grid-template-areas:"Logo Logo Logo nav nav nav login login login ";
    }
    .Logo{
    grid-area: Logo;
    width: 5vh;
    height: 10vh;
    margin-left: 3vh;
    }
    #navigation{
        display: flex;
        justify-content: space-between;
        margin-left: 3vh;
    }